.container {
    margin: 1rem; 
    display: flex;
    flex-direction: column;
    align-items: center;


}

.square {
    height: 150px;
    width: 150px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem 1rem;
}

.containerImages {
    display: flex;
    flex-direction: row;
  
}