.containerGame {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    

}

.containerLeft {
    width: 50%;
    margin-bottom: 1rem;
    display: inline-block;
    line-height: 27px;
    margin: 100px;
}

.containerRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.containerImages {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.square {
    height: 150px;
    width: 150px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    padding: .2rem .2rem;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 5rem;
}

.containerPlay {
    display: flex;
    align-items: center;
}

.targetDiv {
    margin: 20px;

}

.resultMessage {
    margin-top: 1rem;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00bfff;
}

@media (max-width: 768px) {
    .containerGame {
        width: 100vw;
        height: 100vh;
        font-size: 8px;
    }

    .containerLeft,
    .containerRight {
        margin: 20px;
        width: 100%;
        font-size: 10px;
        line-height: 15px;
    }

    .containerImages {
        flex-direction: column;
    }

    .targetDiv {
        margin: 40px;
    }

    .resultMessage {
        font-size: 1rem;
    }
}