:root {
  background-color: #000000;
  font-family: 'Epilogue', sans-serif;

  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}


a:hover {
  color: #53a0f2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  
  background-color: #000000;
  background-image: url("https://uploads-ssl.webflow.com/63230b1c0368dee8bb6d4bde/6323119070d6f0bfb55aeb09_connect-ornaments-hero.png")
}




